body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}
.container {
  padding-left: 60px;
  padding-right: 60px;
}
nav{
  height : 60px;
  width: 100%;
  background-color: grey;
  position: fixed;
}

nav .logo{
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
  color: black;
}

.carre{
  width: 600px;
  height: 300px;
  border: 10px dotted green;
  margin-left: auto;
  margin-right: auto;
  top: 250px;
  position: relative;
}

.image{
  width: 200px;
  height: 200px;
}

.chat{
  position: relative;
  right: 100px;
  bottom: 100px;
}

.chien{
  position: relative;
  left: 280px;
  top: 150px;
}
